/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

body {
	background: url('https://cdn.pixabay.com/photo/2019/03/31/07/44/music-4092614_960_720.jpg') fixed;
	background-size: cover;
	background-position: center;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
}

fieldset {
	border: 0;
}

button {
	width: 100%;
	background-color: white;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	outline: none;
  border: 5px solid black;
  cursor:pointer
}

.bold {
	font-weight: bold;
  font-size:1.5rem;
}

ul.horizontal-list {
	list-style: none;
	text-align: center;
	padding: 100px;
}
ul.horizontal-list li {
	display: inline-block;
	margin: 0 5px;
}

main {
	max-width: 960px;
	margin: auto;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    margin-right: 5px;
    top: 2px;
    transition: all 0.4s ease;
}

input:checked {
    border: 10px solid #ffffff;
}
input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}

.questionScreen legend {
	font-weight: 800;
	font-size: 25px;
	margin: 30px 0;
}

.questionScreen label {
	display: block;
	margin-bottom: 10px;
	padding: 10px;
  background-color: rgba(0, 0, 0, 0.720);
  color: white;
  
}

.questionScreen label:hover {
	cursor: pointer;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 16px;
    }
}
